<h3>Hi <%=@auth.user.email%></h3>

<p>You asked to restore account password. Please go to the link</p>

<p><a href="<%=restore_password_authorization_url(@auth, @auth.restore_password_hash)%>">Restore password</a></p>

<p>Best regards</p>